.nopadding {
    padding: 0 0 0 0;
}

.superbig {
    min-height: 100vh;
}

.circular {
    border-radius: 50%;
}

.bg-1 {
    background-image: repeating-linear-gradient(
        #343a40,
        #343a40 40px,
        #e2fd9f 40px,
        #e2fd9f 41px
    );
}

.text-accent {
    color: #e2fd9f !important;
}

.text-accent-2 {
    color: #f1fadb !important;
}

.bg-2 {
    background-color: #e2fd9f;
}

.bg-stripes {
    background-image: repeating-linear-gradient(
        45deg,
        #343a40,
        #343a40 5px,
        #e2fd9f 5px,
        #e2fd9f 60px
    );
}

.bg-stripes-inverse {
    background-image: repeating-linear-gradient(
        -45deg,
        #343a40,
        #343a40 5px,
        #e2fd9f 5px,
        #e2fd9f 60px
    );
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}
